:root {
    --titles: #827081;
    --sub-titles: #1F7A8C;
    --accent: #E57A44;
    --text: #022B3A;
    --background: #FFFFFF;
    --algorithms: #8270813F;
}

* {
    font-family: 'FiraMath', sans-serif;
    color: var(--text);
}

html, p, li {
    font-size: 16pt;
    line-height: 22pt;
}

h4 {
    font-size: 18pt;
    line-height: 20pt;
}

h3 {
    font-size: 20pt;
    line-height: 22pt;
}

h2 {
    font-size: 26pt;
    line-height: 28pt;
}

h1 {
    text-align: center;
    font-size: 30pt;
    line-height: 32pt;
}

.author {
    text-align: center;
}

h1, h1 *, h2, h2 * {
    color: var(--titles);
}

h3, h3 *, h4, h4 * {
    color: var(--sub-titles)
}

strong, strong * {
    color: var(--accent);
}

.algorithm {
    margin-top: 0.2cm;
    margin-bottom: 0.2cm;
    padding: 0.3cm;
    background-color: var(--algorithms);
    border-radius: 0.5cm;
}

mover mo {
    margin-bottom: -5pt;
}
