:root {
    --titles: #E78F8E;
    --sub-titles: #5D4E60;
    --accent: #D1462F;
    --text: #00272B;
    --background: #FFFFFF;
}

* {
    color: var(--text);
}

h1 {
    text-align: center;
}

.author {
    text-align: center;
}

h1, h2 {
    color: var(--titles);
}

h3 {
    color: var(--sub-titles)
}

html {
    font-family: 'Noto Sans';
    font-size: 18pt;
}

strong, strong * {
    color: var(--accent);
}
