/*! @theme cheatsheet */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

section {
    /* A4 document size */
    width: 297mm;
    height: 210mm;

    padding: 0.5cm;

    font-family: 'Noto Sans', sans-serif;
    font-size: small;
    
    background: white;
}

section::after {
    content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
    padding: 0.3cm;
}

* {
    color: black;
}

pre {
    font-family: 'Noto Sans Mono', monospace;
    border: 2px solid black;
    border-radius: 0.5cm;
    padding: 0.3cm;
}

/* If you'd need to change math font size:
.MathJax {
    font-size: ...;
}
*/

.multiple-columns {
    display: flex;
    flex-direction: row;
    height: 190mm;
}

.with-title {
    height: 180.5mm;
}

.without-title {
    height: 197.25mm;
}

.column {
    flex: 1;
    border-right: 1px solid black;
    padding-left: 0.2cm;
    padding-right: 0.2cm;
}

.column:last-child {
    border-right: transparent;
}

ul {
    padding-left: 0.5cm;
    padding-right: 0cm;
}

ol {
    padding-left: 0.5cm;
    padding-right: 0cm;
}

blockquote {
    margin-left: 0.5cm;
    margin-right: 0cm;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0cm;
}

img {
    filter: grayscale(100%);
}